<section class="Ccategories">
    <br><br><br><br>

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img
                    src="https://images.hdqwalls.com/download/quadra-turbo-r-v-tech-on-cyberpunk-2077-streets-5k-az-1336x768.jpg">
            </div>
            <div class="carousel-item">
                <img src="https://images.hdqwalls.com/download/biker-boy-cyberpunk-2077-4k-l7-1336x768.jpg">
            </div>
            <div class="carousel-item">
                <img src="https://images.hdqwalls.com/download/pubg-mobile-4th-year-anniversary-5k-wy-1336x768.jpg">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <br><br><br>
    <div id="categorycaption"> Choose Your Category of Gaming</div>
    <br><br>



    <section class="SectionCat">

        <section class="Homecomp">

           
            <section>     <!-- section Action category starts here -->
                <div class="category"><div>Action Games</div></div>

                <br><br><br><br>
                <section section="gamelists">

                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <a href="https://store.steampowered.com/app/1238810/Battlefield_V/" target="_blank">
                                    <img src="https://upload.wikimedia.org/wikipedia/en/f/f0/Battlefield_V_standard_edition_box_art.jpg">
                                </a>
                                <p class="text-center mt-1">Battlefield V</p>
                            </div>
                            <div class="col">
                                <a href="https://store.steampowered.com/app/1233550/Rocket_Arena/" target="_blank">
                                    <img src="https://newrelases.net/wp-content/uploads/2020/07/rocket-arean-cover.jpg">
                                </a>
                                <p class="text-center mt-1">Rocker Arena</p>
                            </div>
                            <div class="col">
                                <a href="https://store.steampowered.com/app/1238060/Dead_Space_3/" target="_blank">
                                    <img  src="https://s2.gaming-cdn.com/images/products/142/orig/dead-space-3-cover.jpg">
                                </a>
                                <p class="text-center mt-1">Dead Space</p>
                            </div>
                            <div class="col">
                                <a href="https://store.steampowered.com/app/1172470/Apex_Legends/" target="_blank">
                                    <img src="https://image.api.playstation.com/vulcan/ap/rnd/202010/1512/8ThoZrE519SBuOMpYKFunYS0.png">
                                </a>
                                <p class="text-center mt-1">Apex Legend</p>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <a href="https://store.steampowered.com/app/1388590/Yakuza_6_The_Song_of_Life/"
                                    target="_blank"><img src="https://picfiles.alphacoders.com/210/thumb-210213.png" >
                                </a>
                                <p class="text-center mt-1">Yakuza 6</p>
                            </div>
                            <div class="col">
                                <a href="https://store.steampowered.com/app/379720/DOOM/"
                                    target="_blank">
                                    <img src="https://image.api.playstation.com/vulcan/ap/rnd/202009/2814/GGyEnCkIXoyiVlN9sRHkzUPo.png">
                                </a>
                                <p class="text-center mt-1">Doom</p>
                            </div>
                            <div class="col">
                                <a href="https://store.steampowered.com/app/976310/Mortal_Kombat11/"
                                    target="_blank">
                                    <img src="https://image-cdn.essentiallysports.com/wp-content/uploads/20200506104929/MK11-THUMB.jpg">
                                </a>
                                <p class="text-center mt-1">Mortal Combat</p>

                            </div>
                            <div class="col">
                                <a href="https://store.steampowered.com/app/1172380/STAR_WARS_Jedi_Fallen_Order/"
                                    target="_blank">
                                    <img src="https://scontent.fmaa3-2.fna.fbcdn.net/v/t1.6435-9/131940508_1046314315793767_6127317681919204038_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=973b4a&_nc_ohc=-2lGocXT7P0AX8RaZ1A&_nc_ht=scontent.fmaa3-2.fna&oh=dd1f470017a62168bca0f6ffa0c5dc50&oe=609B82D3">
                                </a>
                                <p class="text-center mt-1">STAR WARS Jedi</p>
                            </div>
                        </div>
                    </div>

                </section>
                <div class="viewmore">
                    <a href="https://store.steampowered.com/search/?term=Action+games" target="_blank">view
                        more</a>
                </div>
                <br><br><br><br><br><br>
            </section>    <!-- section Action category ends here -->




            <section>     <!-- section Adventure category starts here -->
                <div class="category">Adventure Games</div>

                <br><br><br><br>
                <section section="gamelists">

                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <a href="https://store.steampowered.com/app/812140/Assassins_Creed_Odyssey/"
                                    target="_blank">
                                    <img src="https://images-na.ssl-images-amazon.com/images/I/811F7a+J27L.jpg">
                                </a>
                                <p class="text-center mt-1">Assassin's Creed</p>
                            </div>
                            <div class="col">
                                <a href="https://store.steampowered.com/app/417290/Ghost_of_a_Tale/"
                                    target="_blank"><img src="https://www.digiseller.ru/preview/944309/p1_2964054_6a273a89.jpeg">
                                </a>
                                <p class="text-center mt-1">Ghost Of A Tale</p>
                            </div>
                            
                            <div class="col">
                                <a href="https://store.steampowered.com/app/997070/Marvels_Avengers/"
                                    target="_blank">
                                    <img src="https://store-images.s-microsoft.com/image/apps.60908.69399725068812250.8c9bfd4a-b8a9-4af8-b97f-572d930cad77.9908db1b-c75f-4a05-b914-d25eba258fbb">
                                </a>
                                <p class="text-center mt-1">Marvel's Avengers</p>

                            </div>
                            <div class="col">
                                <a href="https://store.steampowered.com/app/447040/Watch_Dogs_2/"
                                    target="_blank">
                                    <img src="https://cdn2.unrealengine.com/watchdogs-legion-store-portrait-1200x1600-1200x1600-338400621.jpg">
                                </a>
                                <p class="text-center mt-1">Watch Dogs</p>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <a href="https://store.steampowered.com/app/546560/HalfLife_Alyx/" target="_blank">
                                    <img src="https://i.imgur.com/Cx24iTW.png">
                                </a>
                                <p class="text-center mt-1">Half-Life: Alyx</p>
                            </div>
                            <div class="col">
                                <a href="https://store.steampowered.com/app/518790/theHunter_Call_of_the_Wild/" target="_blank">
                                    <img src="https://www.mobygames.com/images/covers/l/687702-thehunter-call-of-the-wild-2021-edition-xbox-one-front-cover.jpg">
                                </a>
                                <p class="text-center mt-1">The Hunter</p>
                            </div>
                            <div class="col">
                                <a href="https://store.steampowered.com/app/271590/Grand_Theft_Auto_V/" target="_blank">
                                    <img src="https://i.pinimg.com/originals/b8/8c/ee/b88ceee25c9b98e66358004995d703d8.jpg">
                                </a>
                                <p class="text-center mt-1">Grand Theft Auto V</p>
                            </div>
                            <div class="col">
                                <a href="https://store.steampowered.com/app/1151640/Horizon_Zero_Dawn_Complete_Edition/" target="_blank">
                                    <img src="https://image.api.playstation.com/vulcan/img/rnd/202009/2923/jAT7HjpL49A62bU7hLKXJ96b.png">
                                </a>
                                <p class="text-center mt-1">Horizon Zero Dawn</p>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="viewmore">
                    <a href="https://store.steampowered.com/search/?term=adventure+games" target="_blank">view
                        more</a>
                </div>
                <br><br><br><br><br><br>
            </section>    <!-- section Adventure category ends here -->



            
            <section>     <!-- section Sports category starts here -->
                <div class="category">Sports Games</div>

                <br><br><br><br>
                <section section="gamelists">

                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <a href="https://store.steampowered.com/app/1313860/EA_SPORTS_FIFA_21/"
                                    target="_blank">
                                    <img src="https://gamespot1.cbsistatic.com/uploads/scale_super/313/3136061/3710633-eas_fifa21_standard_keyart_vert_rgb.jpg">
                                </a>
                                <p class="text-center mt-1">FIFA 2021 </p>
                            </div>
                            <div class="col">
                                <a href="https://store.steampowered.com/app/1293830/Forza_Horizon_4/"
                                    target="_blank"><img src="https://store-images.s-microsoft.com/image/apps.20615.14094456225993959.2d017079-463a-4bd6-ac7a-2fb4f65673e9.0faeefd3-4ad9-4634-98df-75b9aeb92d48">
                                </a>
                                <p class="text-center mt-1">Forza Horizon 4</p>
                            </div>
                            
                            <div class="col">
                                <a href="https://store.steampowered.com/app/1225330/NBA_2K21/"
                                    target="_blank">
                                    <img src="https://cdn.2kgames.com/web/nba.2k.com/images/2k21/nba2k21_fob_STD_NG_1.jpg">
                                </a>
                                <p class="text-center mt-1">NBA 2K21</p>

                            </div>
                            <div class="col">
                                <a href="https://store.steampowered.com/search/?term=sports+games"
                                    target="_blank">
                                    <img src="https://www.d-box.com/wp-content/uploads/2020/07/f12020boxart.jpg">
                                </a>
                                <p class="text-center mt-1">f1® 2020</p>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <a href="https://store.steampowered.com/app/1259970/eFootball_PES_2021_SEASON_UPDATE/" target="_blank">
                                    <img src="https://store-images.s-microsoft.com/image/apps.55479.14435264726618422.b6211ca6-c5c0-470a-af4b-2e46a7ee1e99.06bde83b-3462-4996-9c4a-fa6e7bee02a8">
                                </a>
                                <p class="text-center mt-1">PESS 2021</p>
                            </div>
                            <div class="col">
                                <a href="https://store.steampowered.com/app/1455660/Out_of_the_Park_Baseball_22/" target="_blank">
                                    <img src="https://torrent24.ru/_ld/922/92245.jpg">
                                </a>
                                <p class="text-center mt-1">Baseball 22</p>
                            </div>
                            <div class="col">
                                <a href="https://store.steampowered.com/app/690790/DiRT_Rally_20/" target="_blank">
                                    <img src="https://www.mobygames.com/images/covers/l/600660-dirt-rally-2-0-deluxe-edition-windows-other.jpg">
                                </a>
                                <p class="text-center mt-1">DiRT Rally 2.0</p>
                            </div>
                            <div class="col">
                                <a href="https://store.steampowered.com/app/962730/Skater_XL__The_Ultimate_Skateboarding_Game/" target="_blank">
                                    <img src="https://store-images.s-microsoft.com/image/apps.27064.14198151282852291.6d5dc07f-4641-4b9e-bad2-223b935ca6e5.0b2da49d-ea5b-45e1-b1ae-3111e576ffef">
                                </a>
                                <p class="text-center mt-1">Skater XL</p>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="viewmore">
                    <a href="https://store.steampowered.com/search/?sort_by=_ASC&term=sports+games" target="_blank">view
                        more</a>
                </div>
                <br><br><br><br><br><br>
            </section>    <!-- section Sports category ends here -->

        </section> 
    </section>
</section>

