<!--section1 start here-->
<section class="home">
    <section class="homesection">
        <section class="container-fluid section1">
            <div class="row">

                <div class="text-center introtext">
                    <h1 class="heading1"><b>YOUR GAMING LIFE CHANGES FROM HERE</b></h1>
                    <img src="https://raw.githubusercontent.com/sachindh97/gamestorewebsite/main/videogame.png">
                </div>
            </div>
        </section>
    </section>


    <!--section1 end here-->
    <section class="Homecomp">
        <!-- section 2 starts here -->
        <section>

            <div class="category">Free games</div>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="https://store.steampowered.com/app/1321680/Hello_Neighbor_2/" target="_blank">
                            <img
                                src="https://www.gstatic.com/stadia/gamers/landing_page/assets/games/HelloNeighbor.png">
                        </a>
                        <p class="text-center mt-1">Hello Neighbor 2</p>
                    </div>
                    <div class="col">
                        <a href="https://store.steampowered.com/app/1518080/Embr__Lunar_New_Year_Ox_Head_Helmet/"
                            target="_blank">
                            <img src="https://www.gstatic.com/stadia/gamers/landing_page/assets/games/Embr.png">
                        </a>
                        <p class="text-center mt-1">Embr</p>
                    </div>
                    <div class="col">
                        <a href="https://store.steampowered.com/app/1261380/SUPERHOT_MIND_CONTROL_DELETE_Soundtrack/"
                            target="_blank">
                            <img src="https://www.gstatic.com/stadia/gamers/landing_page/assets/games/SUPERHOT.png">
                        </a>
                        <p class="text-center mt-1">Super Hot</p>

                    </div>
                    <div class="col">
                        <a href="https://store.steampowered.com/app/910560/Strange_Brigade__Dashing_Outfits_Pack/"
                            target="_blank">
                            <img
                                src="https://www.gstatic.com/stadia/gamers/landing_page/assets/games/Strange_Brigade.png">
                        </a>
                        <p class="text-center mt-1">Strange Brigade</p>
                    </div>
                </div>
            </div>

            <div class="more"><a href="https://store.steampowered.com/search/?term=free+games&maxprice=free"
                    target="_blank">view more</a></div>

        </section>
        <!-- section 2 ends here -->


        <!-- section 3 starts here -->
        <section>
            <div class="category">Top Games</div>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="https://store.steampowered.com/app/703860/GRID/" target="_blank">
                            <img src="https://www.gstatic.com/stadia/gamers/landing_page/assets/games/GRID.png">
                        </a>
                        <p class="text-center mt-1">GRID</p>
                    </div>
                    <div class="col">
                        <a href="https://store.steampowered.com/app/1161490/MotoGP20/" target="_blank">
                            <img src="https://www.gstatic.com/stadia/gamers/landing_page/assets/games/MotoGP20.png">
                        </a>
                        <p class="text-center mt-1">MotoGP(TM) 20</p>
                    </div>
                    <div class="col">
                        <a href="https://store.steampowered.com/agecheck/app/236870/" target="_blank">
                            <img src="https://www.gstatic.com/stadia/gamers/landing_page/assets/games/Hitman.png">
                        </a>
                        <p class="text-center mt-1">Hitman</p>
                    </div>
                    <div class="col">
                        <a href="https://store.steampowered.com/app/641080/Trials_Rising/" target="_blank">
                            <img
                                src="https://www.gstatic.com/stadia/gamers/landing_page/assets/games/Trials_Rising.png">
                        </a>
                        <p class="text-center mt-1">Trials Rising</p>
                    </div>
                </div>
            </div>
            <div class="more"><a href="https://store.steampowered.com/genre/Early%20Access/#p=0&tab=TopSellers"
                    target="_blank">view more</a></div>
        </section>

        <!-- section 3 ends here -->

        <!-- section 4 starts here -->
        <section>

            <div class="category">Upcomming Game</div>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="https://store.steampowered.com/app/646910/The_Crew_2/" target="_blank">
                            <img src="https://www.gstatic.com/stadia/gamers/landing_page/assets/games/The_Crew_2.png">
                        </a>
                        <p class="text-center mt-1">The Crew 2 </p>
                    </div>
                    <div class="col">
                        <a href="https://store.steampowered.com/bundle/13698/Monster_Energy_Supercross_3__Complete_the_Set/"
                            target="_blank">
                            <img src="https://www.gstatic.com/stadia/gamers/landing_page/assets/games/Supercross_3.png">
                        </a>
                        <p class="text-center mt-1">Supercross 3</p>
                    </div>
                    <div class="col">
                        <a href="https://store.steampowered.com/app/1089350/NBA_2K20/" target="_blank">
                            <img src="https://www.gstatic.com/stadia/gamers/landing_page/assets/games/NBA2k20.png">
                        </a>
                        <p class="text-center mt-1">NBA 2K20</p>
                    </div>
                    <div class="col">
                        <a href="https://store.steampowered.com/app/1174180/Red_Dead_Redemption_2/" target="_blank">
                            <img
                                src="https://www.gstatic.com/stadia/gamers/landing_page/assets/games/Red_Dead_Redemption_2.png">
                        </a>
                        <p class="text-center mt-1">Red Dead Redemption 2</p>
                    </div>
                </div>
            </div>

            <div class="more"><a href="https://store.steampowered.com/genre/Early%20Access/#p=0&tab=ComingSoon"
                    target="_blank">view more</a></div>
        </section>
    </section>
    <!-- section 4 ends here -->

</section>